# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = manolo_scraper.settings

[deploy]
url = http://dash.scrapinghub.com/api/scrapyd/
project = 104926
version = GIT
